.medicacion-table {
    display: block;
    max-height: 250px;
    margin-bottom: 25px;
    overflow-x: hidden;
    overflow-y: auto;                 
}

@media print {
    html, body {
        border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
    }
    .hide-on-print {
        display: none;
        visibility: hidden;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .medicacion-table {
        max-height: none;
        overflow-y: visible!important;
    }

    .print-div-medicacion {
        margin-top: 15rem;
    }

    .medicacion-table tr {
        padding: 0;
        font-size: 13px;
    }
    
    #medic tr td {
        font-size: 13px;
        padding: 0.3em;
        margin: 0.3em;
    }

}
