.medicacion-table {
    display: block;
    max-height: 250px;
    margin-bottom: 25px;
    overflow-x: hidden;
    overflow-y: auto;                    
}

@media print {
    .hide-on-print {
        display: none;
        visibility: hidden 
    }
    .medicacion-table {
        max-height: none;
        overflow-y: visible!important;
    }

    .medicacion-table tr {
        padding: 0;
        font-size: 13px;
    }

    body {
        padding: 3em;
        padding-top: 13em;
    }
}