/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.eye-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.pencil-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.eye-plus-icon:hover {
  color: @navy;
}

.pencil-plus-icon:hover {
  color: @navy;
}