/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.eye-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.pencil-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.eye-plus-icon:hover {
  color: @navy;
}

.pencil-plus-icon:hover {
  color: @navy;
}

/* PRESENTACIONES SCREEN STYLING */

.tab-navigator {
  overflow: scroll;
  .tabs {
    button { 
      border-radius: 0;
      width: 10rem;
      margin-right: 0.2rem;
      i {
        margin-left: 0.5rem;
      }
    }
    button.comprobante {
      width: 15rem;
    }
    button.ayuda {
      border-top-left-radius: 0.5rem;
    }
    button.finalizar {
      margin-right: 0.2rem;
    }
    button.agregar-estudios {
      border-top-right-radius: 0.5rem;
      margin-right: 0rem;
    }
  }

  .content-1 {
    width: 130rem;
    height: auto;
    padding-bottom: 5rem;
  }
}

.importes-totales {
  z-index: 400;
  box-shadow: 0 14px 28px rgba(34, 34, 34, 0.25), 0 14px 28px rgba(58, 58, 58, 0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: fixed;
  right: 0.7rem;
  bottom: 0rem;
  padding: 2rem 0rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lighten(#eee, 5);
  border-radius: 0.5rem;
  margin: 2rem 0rem;
  margin-right: 0.7rem;
  float: right;
  div.col {
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    border: 0.2rem solid #eee;
    border-radius: 0.2rem;
    font-weight: 700;
    div {
      font-weight: 800;
      color: @navy;
    }
  }
  div.gravado {
    width: 25%;
  }
}

.estudios-table {
  width: 100%;
  height: auto;
  background-color: #eee;
  border-spacing: 0.7rem;
  border-collapse: separate;
  display: table-cell;
  align-items: center;
  justify-content: center;
  td {
    border-radius: 0.2rem;
    background-color: lighten(#eee, 5%);
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  th {
    width: 10rem;
  }
  th.icon {
    width: 4rem;
  }
  th.delete {
    width: 4rem;
  }
  th.practica {
    width: 10rem;
  }
  td.medicacion {
    text-align: right;
  }
  input {
    width: 7rem;
    text-align: right;
  }
  i {
    outline: none;
    color: lighten(@navy, 30%);
    font-size: 1.5rem;
    &:hover {
      color: lighten(@navy, 10%);
    }
  }
  i.active {
    color: @navy;
  }
  i.trash-icon {
    color: inherit;
  }
  i.trash-icon-active {
    color: red;
  }
}

.modal.finalizar-guardar {
  .modal-body {
    width: 35rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    margin: 0.6rem 0;
  }
  button {
    margin: 0 0.2rem;
  }
}

.modal.comprobante {
  .modal-body {
    width: 40rem;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  .row {
    margin: 1rem 0;
  }
}

.modal.agregar-estudio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .modal-body {
    width: 100%;
    height: 50rem;
    padding: 5rem;
    align-items: flex-start;
    table {
      align-self: flex-start;
      height: 100%;
      overflow: scroll;
      .mdi-icon {
        font-size: 15px;
        transition: color 0s;
      }
      background-color: #eee;
      .mdi-icon.active {
        color: @navy;
      }
      .mdi-icon {
        color: lighten(@navy, 35%);
      }
      tr {
        cursor: pointer;
      }
      th {
        width: 15rem;
      }
      th.short {
        width: 3rem;
      }
    }
  }
}

.modal.alert {
  .modal-dialog {
    align-items: flex-start;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    .row.element {
      margin: 1rem 0;
      max-height: 40rem;
      overflow: scroll;
      font-size: 1.2rem;
    }
    .row.strings {
      margin: 1rem 0;
    }
    .row.toolbar {
      overflow: auto;
    }
    button {
      margin: 0 0.5rem;  
      width: 10rem;
    }
  }
}

/* PRESENTACIONES SCREEN STYLING */