/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.eye-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.pencil-plus-icon {
  color: rgb(200, 200, 200);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  transition: color 0.5s;
}

.eye-plus-icon:hover {
  color: @navy;
}

.pencil-plus-icon:hover {
  color: @navy;
}

/* PRESENTACIONES SCREEN STYLING */

.tab-navigator {
  overflow: auto;
  &.empty {
    overflow: scroll;
  }
  .tabs {
    button { 
      border-radius: 0;
      width: 10rem;
      margin-right: 0.2rem;
      i {
        margin-left: 0.5rem;
      }
    }
    button.comprobante {
      width: 15rem;
    }
    button.ayuda {
      border-top-left-radius: 0.5rem;
    }
    button.finalizar {
      margin-right: 0.2rem;
    }
    button.agregar-estudios {
      border-top-right-radius: 0.5rem;
      margin-right: 0rem;
    }
  }

  .content-1 {
    width: 100%;
    height: auto;
    // padding-bottom: 5rem;
  }
}

.importes-totales {
  z-index: 400;
  box-shadow: 0 14px 28px rgba(34, 34, 34, 0.25), 0 14px 28px rgba(58, 58, 58, 0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: fixed;
  right: 0.7rem;
  bottom: 0rem;
  padding: 2rem 0rem;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lighten(#eee, 5);
  border-radius: 0.5rem;
  margin: 2rem 0rem;
  margin-right: 0.7rem;
  float: right;
  div.col {
    padding: 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    border: 0.2rem solid #eee;
    border-radius: 0.2rem;
    font-weight: 700;
    div {
      font-weight: 800;
      color: @navy;
    }
  }
  div.gravado {
    width: 25%;
  }
}

.estudios-table {
  width: 100%;
  height: auto;
  display: table-cell;
  border-spacing: 1rem;
  border-collapse: separate;
  background-color: #eee;
  transition: opacity 2s, visibility 0s;
  opacity: 1;
  visibility: visible;
  &.hidden {
    transition: opacity 2s, visibility 0s linear 2s !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
  td {
    min-width: 50px;
    width: 5vw;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    text-align: center;
    background-color: lighten(#eee, 5%);
  }
  td {
    min-width: 50px;
  }
  th.icon {
    td {
      width: 2vw;
      min-width: 40px;
    }
  }
  input, td.medicacion {
    width: 8vw;
    min-width: 80px;
    text-align: right;
  }
  .delete-icon:hover {
    color: red;
  }
  td.fecha:hover {
    cursor: pointer;
  }
}

.modal.finalizar-guardar {
  .modal-body {
    width: 35rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    margin: 0.6rem 0;
  }
  button {
    margin: 0 0.2rem;
    width: 80px;
  }
}

.modal.comprobante {
  .modal-body {
    width: 40rem;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  .row {
    margin: 1rem 0;
  }
}

.modal.agregar-estudio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .modal-body {
    max-width: 90rem;
    table {
      height: 50rem;
      overflow: scroll;
      .mdi-icon {
        font-size: 15px;
        transition: color 0s;
      }
      background-color: #eee;
      .mdi-icon.active {
        color: @navy;
      }
      .mdi-icon {
        color: lighten(@navy, 35%);
      }
      tr {
        cursor: pointer;
      }
      th {
        width: 15rem;
      }
      th.short {
        width: 3rem;
      }
    }
  }
}

.modal.alert {
  .modal-dialog {
    align-items: flex-start;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    .row.element {
      margin: 1rem 0;
      max-height: 40rem;
      overflow: scroll;
      font-size: 1.2rem;
    }
    .row.strings {
      margin: 1rem 0;
    }
    .row.toolbar {
      overflow: auto;
    }
    button {
      margin: 0 0.5rem;  
      width: 10rem;
    }
  }
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  margin-top: 50px;
  button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 770px) {
  .not-found-page {
    font-size: 3.2vw;
  }
}

/* PRESENTACIONES SCREEN STYLING */